.form {
  display: grid;
  grid-template-columns: 500px;
  margin-top: 50px;
  justify-content: center;
}

.buttonForm {
  background: linear-gradient(to right, rgb(0, 255, 0), #37b5e1);
  font-size: 24px;
  transition: box-shadow 500ms ease-in-out;
  margin-top: 15px;
}

.buttonForm:hover:not(:disabled) {
  box-shadow: rgb(0, 255, 0) 1px 3px 20px;
}

.buttonForm:focus:not(:disabled) {
  box-shadow: rgb(25, 170, 218) 1px 3px 20px;
}

.buttonForm:disabled {
  opacity: 0.3;
  color: white;
  cursor: not-allowed;
}

.nameForm,
.numberForm {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: white;
  color: black;
  box-sizing: border-box;
  font-size: 18px;
}

.errorNameMsg,
.errorNumberMsg {
  font-size: 16px;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    color: rgb(227, 41, 41);
  }
  50% {
    color: rgb(255, 0, 0);
  }
  100% {
    color: rgb(227, 41, 41);
  }
}

.nameContainer.touched .errorNameMsg,
.numberContainer.touched .errorNumberMsg {
  display: none;
}
