.authNavContainer {
  display: flex;
  gap: 15px;
}

.link {
  color: antiquewhite;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
}

.link:hover {
  box-shadow: #3ed3ac 1px 1px 14px;
}

.active {
  color: black;
  background: linear-gradient(to right, #3ed3ac, #37b5e1);
}
